ansicon
anyio
arrow
asgiref
attrs
authlib
beautifulsoup4
blessed
brotli
brotlicffi
certifi
cffi
charset-normalizer
checkdmarc
click
colorama
croniter
cryptography
cssselect2
dj-database-url
django
django-bootstrap5
django-cors-headers
django-enumfields
django-extensions
django-icons
django-picklefield
django-q2
django-widget-tweaks
djangorestframework
djangorestframework-simplejwt
dnspython
drf-spectacular
drf-spectacular-sidecar
exceptiongroup
expiringdict
fonttools[woff]
graphql-core
h11
html5lib
httpcore
httpx
idna
imap-tools
importlib
importlib-resources
inflection
ipwhois
jinxed
jsonschema
jsonschema-specifications
junit-xml
legacy-cgi
matplotlib
numpy
pandas
pillow
psutil
publicsuffixlist
pycparser
pycryptodome
pydantic
pydyf
pyjwt
pyleri
pylookyloo
pypandora
pyphen
python-dateutil
python-decouple
python-owasp-zap-v2-4
python3-nmap
pytz
pyvulnerabilitylookup
pyyaml
redis
referencing
requests
rfc3986[idna2008]
rpds-py
sgqlc
simplejson
six
sniffio
sqlparse
timeout-decorator
tinycss2
types-python-dateutil
typing-extensions
tzdata
uritemplate
urllib3
wcwidth
weasyprint
webencodings
xmltodict
zipp
zopfli
